.banner{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("https://png.pngtree.com/thumb_back/fh260/background/20240920/pngtree-large-trees-and-lush-greenery-abound-in-this-lovely-forest-enchanted-image_16235419.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    color: black;
}
.navbar{
    display: flex;
    padding: 30px;
}
.img-thumbnail{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.nav-link-custom{
    margin-left: 10px;
    text-decoration: none;
    color: black;
}
.Menu{
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: 120px;
    border-radius: 10px;
    transition: 0.3s;
}
.menu-container{
    display: flex;
    justify-content: center;
}